[
  {
    elvis, [
      {config, [
        #{
          dirs => ["src", "lib", "test"],
          filter => "*.erl",
          rules => [
            {elvis_style, line_length, #{limit => 120}},
            {elvis_style, no_tabs},
            {elvis_style, no_trailing_whitespace},
            {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "{"}, {right, "}"}]}},
            {elvis_style, nesting_level, #{level => 4}},
            {elvis_style, god_modules, #{limit => 25}},
            {elvis_style, no_if_expression},
            {elvis_style, invalid_dynamic_call, #{ignore => [reia_internal]}},
            {elvis_style, used_ignored_variable},
            {elvis_style, no_behavior_info}
          ]
        },
        #{
          dirs => ["."],
          filter => "rebar.config",
          rules => [
            {elvis_project, no_deps_master_rebar, #{}},
            {elvis_project, protocol_for_public_apis, #{}}
          ]
        }
      ]}
    ]
  }
].
